.header {
    width: 100%;
    min-height: 70px;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
}

.logo {
    display: inline-block;
    margin-left: 64px;
}

.nav_list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav_item {
    display: flex;
    align-items: center;
}

.nav_item1 {
    position: relative;
    cursor: pointer;
}

.notification_icon {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.notification_count {
    position: absolute;
    top: -7px;
    right: -4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 17px;
    font-size: 12px;
    border-radius: 50%;
    color: #fff;
    background-color:  #00C48C;
}

.nav_item2 {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 292px;
    padding-right: 60px;
    text-align: center;
    height: 70px;
    background: #3D639D;
    border-radius: 0px 0px 0px 30px;
    cursor: pointer;
}

.nav_link {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #fff;
}