.box {
  display: grid;
  grid-template-columns: 263px 1fr;
  gap: 20px;
}

.breadcrumb {
  align-items: center;
  height: 70px;
  padding-top: 36px !important;
  padding-left: 18px !important;
}

.active {
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
  color:  #00C48C !important;
}

.breadcrumb-link {
  font-size: 13px;
  line-height: 14px;
  color: #BBC2D0 !important;
}
